{% extends "mainapp/wrapper.html" %}

{% block information %}
<p>Добро пожаловать на мой сайт!</p>
<p>Я преподаю математику и информатику для учеников средних и старших классов, а также для студентов колледжа</p>

{% endblock %}
{% block home %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/0FENiOnZMMM" frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>Информация обо мне</h2>
<p>В 2014 году я закончил Арктический университет Тромсё, Норвегия по специальности бакалавр северных исследований.
  Это была программа обмена с Кольским филиалом Петрозаводского государственного университета (ПетрГу). В 2015 году
  окончил КФ ПетрГу по специальности бакалавр информационных систем и технологий. После этого в 2017 году окончил ПетрГу
  и получил степень магистра по специальности международные отношения.</p>

<p>В настоящее время обучаюсь в аспирантуре Петрозаводского государственного университета по направлению "Образование и
  педагогические науки".</p>

<p>Я люблю детей и считаю это очень важным качеством для успешного преподавателя. Мне интересно изучать своих учеников,
   находить к ним подход. На своих занятиях я стараюсь рассказывать ученикам материалы исходя из личного опыта.</p>

   <h2>Опыт работы:</h2>
   <p>30.08.2019 - по наст время - преподаватель информатики ЧПОУ "Петрозаводский кооперативный техникум Карелреспотребсоюза"
   <p>30.05.2019 - 28.06.2019 - преподаватель математики и информатики ГБПОУ РК "Петрозаводский лесотехнический техникум"</p>
   <p>27.08.2018 - 23.01.2019 - учитель математики МОУ "Лицей №1" г. Петрозаводск</p>
   <p>10.04.2018 - 13.07.2018 - учитель математики МОУ "Средняя школа №20" г. Петрозаводск</p>
   <p>26.01.2016 - 01.04.2018 - учитель информатики МОУ "Средняя школа №25" г. Петрозаводск</p>
   <p>15.10.2014 - 15.06.2015 - лаборант МБОУ СОШ №14 г. Апатиты </p>

   <h2>Курсы повышения квалификации:</h2>
   <p>"Адаптация молодого учителя в условиях современной школы" 18 ч.</p>
   <p>"Реализация адаптированных образовательных программ для обучающихся с ОВЗ в условиях ФГОС" (24 ч.)</p>

   <h2>Тема моей кандидатской диссертации:
     "Подготовка учителя к цифровому обучению в процессе повышения квалификации"</h2>
     <p>Учитель будущего должен обладать следующими компетенциями: креативность, коммуникабельность,
        критическое мышление, знание ИКТ, и умение внедрять их в учебный процесс, умение работать с
        помощью современных педагогических инструментов, осуществление индивидуального подхода, работа в
        русле смешанного обучения. Главная моя задача в данном исследовании разработать курс повышения квалификации
        для учителей, подготовить к новому цифровому образованию.</p>

{% endblock %}
